<div>
  <a href="/listings"><button>Back to Listings</button></a>
</div>

<div>
  <h1>Create and post a listing:</h1>
</div>
<div>
  <form method="post" action="/">
    <div>
      <label>Monthly Rent:</label>
      <input type="text" name="monthly_rent">
    </div>
    <div>
      <label>Square Footage:</label>
      <input type="text" name="square_footage">
    </div>
    <div>
      <label>How many bedrooms?</label>
      <input type="text" name="bedrooms">
    </div>
    <div>
      <label>How many bathrooms?</label>
      <input type="text" name="bathrooms">
    </div>
    <div>
      <input type="submit" name="submit">
    </div>
  </form>
</div>

