<div>
  <a href="/create"><button>Create Listing</button></a>
</div>
<div>
  <a href="/favorites"><button>My Favorites</button></a>
</div>
<div>
  <h1>Current Listings</h1>
</div>
<div>
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
</div>
<div>
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
</div>
<div>
  <button>back to top</button>
</div>