  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="map-container">
          <div id="map" style="min-width: 1280px; min-height: 900px;"></div>
        </div>
      </div>
    </div>
  </div>


<script>
  $(document).ready(function() {
  // See: http://docs.jquery.com/Tutorials:Introducing_$(document).ready()
    $("#map").googleMap({
        coords: [49.2827, -123.1207],
        zoom: 12
    });
    
  <% @listings.each do |listing| %>
    $("#map").addMarker({
      coords: [
        <%= listing.latitude %>, 
        <%= listing.longitude %>],
      title: "Rental!",
      text: '<p>Price: <%= listing.price %></p> <p>Area: <%= listing.area %></p>'
    });
  <% end %>
  });

</script>