
<div id="overlay" style="opacity: 0.5;"></div>

<div id="contents" class="text-center">  
  <h1 id="heading">Lighthouse Listings <br/><small>Rentals in the Greater Vancouver area</small></h1>

  <div id="maindv">
    <div id="map" style="min-width: 850px; min-height: 600px;"></div>
  </div>
</div>

<script>
  $(document).ready(function() {
  // See: http://docs.jquery.com/Tutorials:Introducing_$(document).ready()
    $("#map").googleMap({
        coords: [49.2827, -123.1207],
        zoom: 12
    });
    
  <% @listings.each do |listing| %>
    $("#map").addMarker({
      coords: [
        <%= listing.latitude %>, 
        <%= listing.longitude %>],
      title: "Rental!",
      text: '<p>Price: <%= listing.price %></p> <p>Area: <%= listing.area %></p>'
    });
  <% end %>
  });

</script>