<div>
  <a href="/listings"><button>Back to Listings</button></a>
</div>
<div>
  <h1>Favorites</h1>
</div>
<div>
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
</div>

<div>
  <button>back to top</button>
</div>
