<div id="divlogin" class="text-center">
  <form method="post" action="/user/login" class="form-horizontal">
    <div  class="form-group form-group-lg">
    <label class="col-sm-4 control-label" for="email">User Name</label>
      <div class="col-sm-3">
        <input type="text" class="form-control input-lg" name="user_name" placeholder="User Name" value="" >
      </div>  
    </div>      
    <div class="form-group form-group-lg">
      <label class="col-sm-4 control-label" for="password">Password</label>
      <div class="col-sm-3">
        <input type="password" class="form-control input-lg" name="password" placeholder="Password" value="">
      </div>  
    </div>  
    <div class="form-group form-group-lg">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary btn-lg" value="Login" >
        <!-- <input type="reset" class="btn btn-warning btn-lg" value="Clear" > -->
        <a class="btn btn-warning btn-lg" href="/signup">Signup</a>
      </div>   
    </div>
  </form>
</div>