<div>
  <h1>My Listings</h1>
</div>
<div>
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
</div>
<div>
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
  <img src="http://placehold.it/350x300"> 
</div>