<div>
  <h1>My Listings</h1>
</div>
<div>
  <% @listings.each do |listing| %>
    <div>
      <a href="/listings/<%= listing.id %>/edit">Address: <%= listing.street_address %></a>
    </div>
  <% end %> 
</div>
