<div class="container style-signup-container layout-signup-container">
  <div class="row">

  <% if @user && @user.errors %>
    <div class="style-error-box">
      <% @user.errors.full_messages.each do |message| %>
          <div class = "row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <div class="alert alert-danger">
                <%= message %>
              </div>
            </div>
            <div class="col-md-4"></div>
        </div>
      <% end %>
    </div>
  <% end %>

  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="layout-signup-box style-signup-box">
        <h1> Login </h1>
        <form method="post" action="/user/login">
          <div class="form-group">
            <input class="form-control" type="text" id="username" value="<%= @user&&@user.username %>" placeholder="Username" name="username">
            <input class="form-control" type="password" id="password" value="<%= @user&&@user.password %>" placeholder="Password" name="password">
          </div>
          <footer>
            <button class="btn btn-warning" type="submit">Submit</button>
            <br>
            <br>
            <a class="layout return" href="/">Actually, I don't want to log in.</a>
          </footer>
        </form>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
<div class="container">
