<div id="overlay" style="opacity: 0.5;"></div>
<div id="contents" class="text-center"> 
<div class="create-form-container">
  <div>
    <% if @preference && @preference.errors.any? %>
      <div>
        <ul>
          <% @preference.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div id="divform">
    <h1 class="h1">Add your preferences</h1>
    <br>
    <form method="post" action="/user/preferences" class="form-horizontal">
        <div class="form-group">
          <input placeholder="Max. monthly rent" type="text" name="max_price" class="form-control input-lg">
        </div>
        <div class="form-group">
          <input placeholder="Min. square feet" type="text" name="min_area" class="form-control input-lg">
        </div>
        <div class="form-group">
          <input placeholder="Min. number of bedrooms" type="text" name="min_bedrooms" class="form-control input-lg" >
        </div>
        <div class="form-group">
          <input placeholder="Min. number of bathrooms" type="text" name="min_bathrooms" class="form-control input-lg" >
        </div>
     
      <div class="footer text-center">
        <input class="btn btn-warning" type="submit" value="Save">
      </div>
    </form>
  </div>

</div>
</div>