<!-- <h3>Home Page</h3>
<h1>Lighthouse Listings</h1>

<h3>Rentals in the Greater Vancouver area.</h3>

<div>
  <a href="/listings"><button>Go straight to listings</button></a>
</div>

<div>
  <a href="/create"><button>Create Listing</button></a>
</div> -->
