
<div id="overlay" style="opacity: 0.5;"></div>

<div id="landing" class="text-center">


	<h1 id="title">
    Lighthouse Listings 
    <br/>
    <small>
      Rentals in the Greater Vancouver area
    </small>
  </h1>

<br/>

  <a href="/listings/create">
    <button type="button" class="btn btn-primary btn-lg">
  	  <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 
      Create Listing
    </button>
  </a>
  
  <a href="/listings/map"> 
    <button type="button" class="btn btn-success btn-lg">
    	 <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
       Find Listing
    </button>
  </a>

</div>