<!DOCTYPE html>
<html lang="en">
<head>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.js"></script>
  <script src="/javascript/application.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCbD_DJTXLyK3IpRu0BZFOyxPYDcMu5bGk"></script>
  <script type="text/javascript" src="/javascript/jquery.googlemap.js"></script>
  <script src="//cdn.jsdelivr.net/jquery.sidr/2.2.1/jquery.sidr.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.css" >
  <link rel="stylesheet" href="/css/bootstrap-theme.css" >
  <link rel="stylesheet" href="/css/application.css" >
  <link rel="stylesheet" href="/css/jquery.sidr.dark.css">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:700,300,400">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400" type="text/css">
  

  <title></title>
</head>
<body>


<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> My Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li role="presentation"><a href="/user/listings">Owned Listings</a></li>
              <li role="presentation"><a href="/listings/create">Create Listing</a></li>
              <li role="presentation"><a href="/user/preferences"> Preferences </a></li>
              <li role="presentation"><a href="/user/logout">Logout</a></li>
            </ul>
          </li>

        <% else %>
          <% unless @notoolbar %>
          <form class="navbar-form navbar-left" method="post" action="/user/login">
            <div class="form-group" style="width:150px">
              <input type="text" name="username" style="min-width:100px" class="form-control input-sm" placeholder="Username" value="<%= @user && @user.username %>">
            </div>
            <div class="form-group" style="width:150px">  
              <input type="password" name="password" style="min-width:100px" class="form-control input-sm" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-warning">Login</button>
          </form><br />
          <li role="presentation" style="top:-15px; font-size:14px;"><a href="/user/create">Don't have an account?</a></li>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if @listings %>
          <li role="presentation">
            <a id="simple-menu" href="#sidr" class="glyphicon glyphicon-menu-hamburger"></a>
          </li>
        <% end %>
      </ul>

    </div>
  </div>
</nav>

	<%= yield %>

</body>
</html>

