<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/bootstrap.css" >
  <link rel="stylesheet" href="../css/bootstrap-theme.css" >
  <script src="../js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:700,300,400">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Montserrat:400" type="text/css">

  <title></title>
</head>
<body>
<div id="overlay" style="opacity: 0.5;"></div>
<nav id="navbar navbar-default navbar-fixed-top" style="opacity: 0.6;">
	<div class="text-center">
		<h1 id="title"> Lighthouse Listing</h1>
	</div>
	
</nav>


<div id="maindv" class="text-center">
	
	

	<%= yield %>

</div>

</body>
</html>

