<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../css/bootstrap.css" >
  <link rel="stylesheet" href="../css/bootstrap-theme.css" >
  <script src="../js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">

	    <div class="navbar-header">

	<a class="navbar-brand" href="#">Brand</a>
	</div>

</nav>

<div class="container2 text-center">

  <%= yield %>

</div>
</body>
</html>

